<%= form_for(@base_color) do |f| %>
  <% if @base_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_color.errors.count, "error") %> prohibited this base_color from being saved:</h2>

      <ul>
      <% @base_color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
