<h1>Listing base_colors</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_colors.each do |base_color| %>
      <tr>
        <td><%= base_color.code %></td>
        <td><%= base_color.name %></td>
        <td><%= link_to 'Show', base_color %></td>
        <td><%= link_to 'Edit', edit_base_color_path(base_color) %></td>
        <td><%= link_to 'Destroy', base_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base color', new_base_color_path %>
