<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @base_color.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_color.name %>
</p>

<%= link_to 'Edit', edit_base_color_path(@base_color) %> |
<%= link_to 'Back', base_colors_path %>
