<%= form_for(@base_customer) do |f| %>
  <% if @base_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_customer.errors.count, "error") %> prohibited this base_customer from being saved:</h2>

      <ul>
      <% @base_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original %><br>
    <%= f.text_field :original %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.text_field :parent %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :storename %><br>
    <%= f.text_field :storename %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :if_enable %><br>
    <%= f.check_box :if_enable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
