<h1>Listing base_customers</h1>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Area</th>
      <th>Parent</th>
      <th>Level</th>
      <th>Storename</th>
      <th>Login</th>
      <th>Code</th>
      <th>Password</th>
      <th>Amount</th>
      <th>Quantity</th>
      <th>If enable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_customers.each do |base_customer| %>
      <tr>
        <td><%= base_customer.original %></td>
        <td><%= base_customer.area %></td>
        <td><%= base_customer.parent %></td>
        <td><%= base_customer.level %></td>
        <td><%= base_customer.storename %></td>
        <td><%= base_customer.login %></td>
        <td><%= base_customer.code %></td>
        <td><%= base_customer.password %></td>
        <td><%= base_customer.amount %></td>
        <td><%= base_customer.quantity %></td>
        <td><%= base_customer.if_enable %></td>
        <td><%= link_to 'Show', base_customer %></td>
        <td><%= link_to 'Edit', edit_base_customer_path(base_customer) %></td>
        <td><%= link_to 'Destroy', base_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base customer', new_base_customer_path %>
