<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @base_customer.original %>
</p>

<p>
  <strong>Area:</strong>
  <%= @base_customer.area %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @base_customer.parent %>
</p>

<p>
  <strong>Level:</strong>
  <%= @base_customer.level %>
</p>

<p>
  <strong>Storename:</strong>
  <%= @base_customer.storename %>
</p>

<p>
  <strong>Login:</strong>
  <%= @base_customer.login %>
</p>

<p>
  <strong>Code:</strong>
  <%= @base_customer.code %>
</p>

<p>
  <strong>Password:</strong>
  <%= @base_customer.password %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @base_customer.amount %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @base_customer.quantity %>
</p>

<p>
  <strong>If enable:</strong>
  <%= @base_customer.if_enable %>
</p>

<%= link_to 'Edit', edit_base_customer_path(@base_customer) %> |
<%= link_to 'Back', base_customers_path %>
