<h1>Listing base_sizes</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Index</th>
      <th>Name</th>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_sizes.each do |base_size| %>
      <tr>
        <td><%= base_size.class %></td>
        <td><%= base_size.index %></td>
        <td><%= base_size.name %></td>
        <td><%= base_size.name %></td>
        <td><%= base_size.value %></td>
        <td><%= link_to 'Show', base_size %></td>
        <td><%= link_to 'Edit', edit_base_size_path(base_size) %></td>
        <td><%= link_to 'Destroy', base_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base size', new_base_size_path %>
