<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @base_size.class %>
</p>

<p>
  <strong>Index:</strong>
  <%= @base_size.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_size.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_size.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @base_size.value %>
</p>

<%= link_to 'Edit', edit_base_size_path(@base_size) %> |
<%= link_to 'Back', base_sizes_path %>
