<h1>Listing base_classifieds</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_classifieds.each do |base_classified| %>
      <tr>
        <td><%= base_classified.code %></td>
        <td><%= base_classified.name %></td>
        <td><%= link_to 'Show', base_classified %></td>
        <td><%= link_to 'Edit', edit_base_classified_path(base_classified) %></td>
        <td><%= link_to 'Destroy', base_classified, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base classified', new_base_classified_path %>
