<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @base_classified.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_classified.name %>
</p>

<%= link_to 'Edit', edit_base_classified_path(@base_classified) %> |
<%= link_to 'Back', base_classifieds_path %>
