<h1>Listing base_periods</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_periods.each do |base_period| %>
      <tr>
        <td><%= base_period.code %></td>
        <td><%= base_period.name %></td>
        <td><%= link_to 'Show', base_period %></td>
        <td><%= link_to 'Edit', edit_base_period_path(base_period) %></td>
        <td><%= link_to 'Destroy', base_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base period', new_base_period_path %>
