<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @base_period.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_period.name %>
</p>

<%= link_to 'Edit', edit_base_period_path(@base_period) %> |
<%= link_to 'Back', base_periods_path %>
