<h2>Log in</h2>



<div class="ui error form segment">
  <% if not alert.blank? %>
  <div class="ui icon error message">
    <i class="attention icon"></i>
    <div class="content">
      <div class="header">Attention</div>
      <p><%= alert %></p>
    </div>
  </div>
  <% end -%>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label><%= f.label :email %></label>

    <div class="ui left labeled icon input">
      <%= f.email_field :email, autofocus: true %>
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>

  </div>


  <div class="field">
    <label><%= f.label :password %></label>
    <div class="ui left labeled icon input">
      <%= f.password_field :password, autocomplete: "off" %>
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="inline field">
    <div class="ui checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  </div>
  <% end -%>

  <div><%= f.submit "Log in", class: 'ui blue submit button' %></div>
  <% end %>
</div>
<%= render "devise/shared/links" %>