<h1>Listing base_categories</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_categories.each do |base_category| %>
      <tr>
        <td><%= base_category.parent_id %></td>
        <td><%= base_category.code %></td>
        <td><%= base_category.name %></td>
        <td><%= link_to 'Show', base_category %></td>
        <td><%= link_to 'Edit', edit_base_category_path(base_category) %></td>
        <td><%= link_to 'Destroy', base_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base category', new_base_category_path %>
