<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @base_category.parent_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @base_category.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_category.name %>
</p>

<%= link_to 'Edit', edit_base_category_path(@base_category) %> |
<%= link_to 'Back', base_categories_path %>
