<h1>Listing base_series</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_series.each do |base_series| %>
      <tr>
        <td><%= base_series.code %></td>
        <td><%= base_series.name %></td>
        <td><%= link_to 'Show', base_series %></td>
        <td><%= link_to 'Edit', edit_base_series_path(base_series) %></td>
        <td><%= link_to 'Destroy', base_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base series', new_base_series_path %>
