<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @base_series.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @base_series.name %>
</p>

<%= link_to 'Edit', edit_base_series_path(@base_series) %> |
<%= link_to 'Back', base_series_index_path %>
