<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size_class %><br>
    <%= f.text_field :size_class %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br>
    <%= f.number_field :series_id %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br>
    <%= f.number_field :period_id %>
  </div>
  <div class="field">
    <%= f.label :classified_id %><br>
    <%= f.number_field :classified_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :sub_category_id %><br>
    <%= f.number_field :sub_category_id %>
  </div>
  <div class="field">
    <%= f.label :recommended_level %><br>
    <%= f.text_field :recommended_level %>
  </div>
  <div class="field">
    <%= f.label :description_fabric %><br>
    <%= f.text_area :description_fabric %>
  </div>
  <div class="field">
    <%= f.label :description_style %><br>
    <%= f.text_area :description_style %>
  </div>
  <div class="field">
    <%= f.label :if_ordering %><br>
    <%= f.check_box :if_ordering %>
  </div>
  <div class="field">
    <%= f.label :if_replenishing %><br>
    <%= f.check_box :if_replenishing %>
  </div>
  <div class="field">
    <%= f.label :if_onsale %><br>
    <%= f.check_box :if_onsale %>
  </div>
  <div class="field">
    <%= f.label :if_preselection %><br>
    <%= f.check_box :if_preselection %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :catena %><br>
    <%= f.text_field :catena %>
  </div>
  <div class="field">
    <%= f.label :topdate %><br>
    <%= f.date_select :topdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
