<h1>Listing products</h1>

<table class="ui table segment">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <!-- <th>Size class</th> -->
      <th>价格</th>
      <th>系列</th>
      <th>Period</th>
      <th>分类</th>
      <!-- <th>Category</th> -->
      <!-- <th>Sub category</th> -->
      <!-- <th>Recommended level</th> -->
      <!-- <th>Description fabric</th> -->
      <!-- <th>Description style</th> -->
      <th>订货</th>
      <th>补货</th>
      <th>上架</th>
      <th>预选</th>
      <!-- <th>Sex</th> -->
      <!-- <th>Catena</th> -->
      <th>上架时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.number %></td>
        <td><%= product.name %></td>
        <!-- <td><%= product.size_class %></td> -->
        <td><%= product.price %></td>
        <td><%= product.series_id %></td>
        <td><%= product.period_id %></td>
        <td><%= product.classified_id %></td>
        <!-- <td><%= product.category_id %></td> -->
        <!-- <td><%= product.sub_category_id %></td> -->
        <!-- <td><%= product.recommended_level %></td> -->
        <!-- <td><%= product.description_fabric %></td> -->
        <!-- <td><%= product.description_style %></td> -->
        <td>
          <div class="ui toggle checkbox">
            <input type="checkbox" readonly>
            <label></label>
          </div>
        </td>
        <td><%= product.if_replenishing %></td>
        <td><%= product.if_onsale %></td>
        <td><%= product.if_preselection %></td>
        <!-- <td><%= product.sex %></td> -->
        <!-- <td><%= product.catena %></td> -->
        <td><%= product.topdate %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
