<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @product.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Size class:</strong>
  <%= @product.size_class %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Series:</strong>
  <%= @product.series_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @product.period_id %>
</p>

<p>
  <strong>Classified:</strong>
  <%= @product.classified_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.sub_category_id %>
</p>

<p>
  <strong>Recommended level:</strong>
  <%= @product.recommended_level %>
</p>

<p>
  <strong>Description fabric:</strong>
  <%= @product.description_fabric %>
</p>

<p>
  <strong>Description style:</strong>
  <%= @product.description_style %>
</p>

<p>
  <strong>If ordering:</strong>
  <%= @product.if_ordering %>
</p>

<p>
  <strong>If replenishing:</strong>
  <%= @product.if_replenishing %>
</p>

<p>
  <strong>If onsale:</strong>
  <%= @product.if_onsale %>
</p>

<p>
  <strong>If preselection:</strong>
  <%= @product.if_preselection %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @product.sex %>
</p>

<p>
  <strong>Catena:</strong>
  <%= @product.catena %>
</p>

<p>
  <strong>Topdate:</strong>
  <%= @product.topdate %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
