<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if system_user_signed_in? %>
    <div class="ui grid">

      <div class="computer tablet only row">
        <div class="ui tiered fixed menu navbar page grid">

          <a class="brand item">Project</a>
          <a class="item">
            <i class="home icon"></i> Home
          </a>
          <%= link_to '产品管理', products_path, class: 'item active' %>
          <%= link_to 'out', destroy_system_user_session_path, :method => :delete, class: 'item' %>

        </div>
      </div>

      <div class="mobile only row">
        mobile did not supported yet.
      </div>

    </div>
    <% end %>

    <div class="ui page grid main">
      <div class="row">
        <div class="column padding-reset">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>